body{
    margin:0;
    padding:0;
    background-color:#eee;
}

.error{
    color:red;
    margin:10px 0;
}

.success{
    color:green;
    margin:10px 0;
}

.form{
    padding:2em;
    border-radius:3px;
    background-color: #fff;
    margin: 1rem 1rem;
}

.form-title{
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:10px;
}

.form > textarea{
    resize:none;
    height: 20ch;
}

.form > *{
    display:block;
}

.form-input{
    box-sizing: border-box;
    padding:10px;
    width:100%;
    margin-bottom:10px;
}

.form-input--file{
    margin-bottom:10px;
}

@media only screen and (min-width:900px){
    .form{
        width:25%;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

}